{% set classes = [
    'card',
    'font-tilt-neon',
    'flex',
    'flex-col',
    'gap-2',
    'bg-ew',
    'p-16',
] %}
<div{{ attributes.addClass(classes) }}>
  {% block headerSlot %}
  {% if header %}
    <div class="card__image">{{ header }}</div>
  {% endif %}
  {% endblock headerSlot %}

  {% if body %}
    <div class="card__body">{{ body }}</div>
  {% endif %}
  
  {% if footer %}
    <div class="card__footer">{{ footer }}</div>
  {% endif %}
</div>